html { 
	text-align: center;
	border-left:10px dotted MistyRose;
	border-right:10px dotted MistyRose;
	border-bottom:20px dotted MistyRose; 
	background:linear-gradient(45deg,#ffffff,#ccffff 30%,#ffcccc 90%);
}
h1 {
	background-color:snow;
	color:#ffcc99;
	font-family:'Lucida Console', Monaco, monospace;
	text-align: center;
	font-size:30px;
} 
h2 {
	background-color:#99ccff;
	text-align: center;
	font-size:25px;
	font-style:italic;
	color:#ffcccc;
	border-bottom: 6px solid Ivory;
	margin-top: 10px;
   	margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	text-decoration:underline;
	text-transform:uppercase;
	text-shadow: 2px 2px 5px AliceBlue;
	background: radial-gradient(#ccccff,#ffffff 90%,#ffffcc 100%);
}
p {
	border-top-style: dotted;
	border-right-style: solid;
	border-bottom-style: dotted;
	border-left-style: solid;
	border:5px dotted;
	outline:10px solid;
	outline-color: lightyellow;
	border-color:#99ccff;
	background-color:#ffffff;
	font-size:15px;
	color:#ffcc99;
	padding-top: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
	padding-left: 50px;
	line-height: 20px;
    height: 20px;
    text-align: left;
	transform:skewX(10deg);
	column-gap: 40px;
	font-family:"Comic Sans MS", cursive, sans-serif; 
}
