html {
	background-color:snow;
	color:Teal; 
	background: linear-gradient(to bottom, #ccffff 50%, #99ccff 50%);
	text-align: center;
	border:
}
h1 {
	background-color:snow;
	color:#ffcc99;
	font-family:'Lucida Console', Monaco, monospace;
	text-align: center;
	font-size:59px;
} 
h2 {
	background-color:#99ccff;
	text-align: center;
	font-size:29px;
	font-style:italic;
	color:#ffffff;
	border-bottom: 6px solid white;
	margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 50px;
    margin-left: 50px;
}
p {
	border-top-style: dotted;
	border-right-style: solid;
	border-bottom-style: dotted;
	border-left-style: solid;
	border-color:#99ccff;
	background-color:#ffffff;
	font-size:19px;
	color:#ffcc99;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 50px;
	padding-left: 50px;
	line-height: 20px;
    height: 20px;
    text-align: center;
	font-family:"Comic Sans MS", cursive, sans-serif;
	
}
